<div><app-charts *ngIf="holdings" [holdings]="holdings"></app-charts></div>
<div class="main" *ngIf="holdings">
  <div class="toolsRow">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. TCS"
        #input
      />
    </mat-form-field>
    <button
      class="elevated-button danger-button"
      mat-ripple
      [matRippleCentered]="true"
      [matRippleUnbounded]="false"
      [matRippleRadius]="100"
      (click)="deletePortfolio()"
    >
      <span> Delete </span>
    </button>
  </div>

  <div class="matTable">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
          <td mat-cell *matCellDef="let row">{{ row.symbol }}</td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="totalQuantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let row">{{ row.totalQuantity }}</td>
        </ng-container>

        <!-- Avergae Price Column -->
        <ng-container matColumnDef="averagePrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Average Price
          </th>
          <td mat-cell *matCellDef="let row">{{ row.averagePrice }}</td>
        </ng-container>

        <!-- LTP Price Column -->
        <ng-container matColumnDef="lastTradedPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>LTP</th>
          <td mat-cell *matCellDef="let row">{{ row.lastTradedPrice }}</td>
        </ng-container>

        <!-- Invested amount Column -->
        <ng-container matColumnDef="investedAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Invested amt
          </th>
          <td mat-cell *matCellDef="let row">{{ row.investedAmount }}</td>
        </ng-container>

        <!-- currentValue amount Column -->
        <ng-container matColumnDef="currentValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Current value
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            [ngStyle]="{
              color: row.currentValue > row.investedAmount ? 'green' : 'red'
            }"
          >
            {{ row.currentValue }}
          </td>
        </ng-container>

        <!-- profitLoss amount Column -->
        <ng-container matColumnDef="profitLoss">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>P/L</th>
          <td
            mat-cell
            *matCellDef="let row"
            [ngStyle]="{ color: row.profitLoss > 0 ? 'green' : 'red' }"
          >
            {{ row.profitLoss }}
          </td>
        </ng-container>

        <!-- profitLossPercentage amount Column -->
        <ng-container matColumnDef="profitLossPercentage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>P/L %</th>
          <td
            mat-cell
            *matCellDef="let row"
            [ngStyle]="{
              color: row.profitLossPercentage > 0 ? 'green' : 'red'
            }"
          >
            {{ row.profitLossPercentage }}%
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter: '{{ input.value }}'
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 50, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
