<div id="charts">
  <apx-chart
    class="chart"
    [series]="categories.marketCapSection.currentValueSeries"
    [chart]="chartOptions.chart"
    [labels]="categories.marketCapSection.constituents"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
  <apx-chart
    class="chart"
    [series]="categories.industry.currentValueSeries"
    [chart]="chartOptions.chart"
    [labels]="categories.industry.constituents"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
  <apx-chart
    class="chart"
    [series]="categories.sector.currentValueSeries"
    [chart]="chartOptions.chart"
    [labels]="categories.sector.constituents"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div>
