<!-- Toolbar -->
<div class="toolbar navbar-brand" role="banner">
  <span>Welcome to Visualizer</span>
</div>

<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>Visualizer Charts</span>
  </div>

  <p>Choose the chart type</p>

  <div class="card-container">
    <button class="anchor card" (click)="(pieChart)">
      <span> Pie Chart </span>
    </button>
    <button class="anchor card" (click)="(bubbleChart)">
      <span>Bubble Chart</span>
    </button>
  </div>

  <!-- <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [fill]="chartOptions.fill"
      [dataLabels]="chartOptions.dataLabels"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div> -->
</div>
<app-portfolio></app-portfolio>
