/* You can add global styles to this file, and also import other style files */

/* /* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.elevated-button {
  all: unset;
  border-radius: 15px;
  height: 15px;
  width: 100px;
  padding: 16px;
  margin: 0 8px 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  cursor: pointer;
}

.primary-button {
  background-color: #0090ff;
  color: #ffffff;
}

.danger-button {
  background-color: #ff0000;
  color: #ffffff;
}

.elevated-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.centred {
  width: 90%;
  margin: auto;
}
