/* You can add global styles to this file, and also import other style files */

/* /* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  background-color: #f1f3f8;
}

.elevated-button {
  all: unset;
  border-radius: 15px;
  height: 15px;
  width: 100px;
  padding: 16px;
  margin: 0 8px 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  cursor: pointer;
}

.primary-button {
  background-color: #0090ff;
  color: #ffffff;
}

.danger-button {
  background-color: #ff0000;
  color: #ffffff;
}

.elevated-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.centred {
  width: 90%;
  margin: auto;
}

.shadow {
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.35);
}

.smallShadow {
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.35);
}

.whitebg {
  background-color: #ffffff;
}

.margin10 {
  margin: 10px;
}

.rounded10 {
  border-radius: 10px;
}

.rounded25 {
  border-radius: 25px !important;
}

.transparentBackground {
  background-color: transparent;
}

.width100 {
  width: 100%;
}

.padding20{
  padding: 20px;
}

snack-bar-container.mat-snack-bar-container {
  border-radius: 5px !important;
  min-height: 56px !important;
  padding: 15px 15px !important;
  max-width: 700px !important;
}

.snackbarSuccess {
  margin: auto 10%;
  color: #224A23 !important;
  background-color: #c8e6c9 !important;
  border-left: 6px solid #439446 !important;
}

.snackbarError {
  margin: auto 10%;
  color: #731814 !important;
  background-color: #FBCDD2 !important;
  border-left: 6px solid #E73A33 !important;
}

.snackbarInfo {
  margin: auto 10%;
  color: #054868 !important;
  background-color: #B3E5FC !important;
  border-left: 6px solid #0991CF !important;
}

.icon {
  padding-right: 5%;
}


.message {
  padding-right: 5%;
  font-size: 15px;
}